<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
</head>
<body>
    <h1>Detalle del producto</h1>
    <p>Nombre: {{ producto.nombreproducto }}</p>
    <p>Precio: {{ producto.precio }}</p>
    <p>Cantidad: {{ producto.cantidad }}</p>
    <p>Descripción: {{ producto.descripcion }}</p>
    <p>Imagen: {{ producto.imagen }}</p>
    <p>Marca: {{ producto.marca }}</p>
</body>
</html>