{% extends "base.html" %}

{% block title %}Editor de productos{% endblock %}

{% block content %}
<h2>Editar producto</h2>
<form method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre" value="{{ usuario.nombre }}" required><br><br>
    
    <label>Precio:</label>
    <input type="number" name="precio" value="{{ producto.precio }}" required><br><br>

    <label>Cantidad:</label>
    <input type="number" name="cantidad" value="{{ producto.cantidad }}" required><br><br>
    
    <label>Descripción:</label>
    <input type="text" name="descripcion" value="{{ producto.descripcion }}" required><br><br>

    <label>Imagen:</label>
    <input type="file" name="imagen" value="{{ producto.imagen }}" required><br><br>
    
    <label>Marca:</label>
    <input type="text" name="marca" value="{{ producto.marca }}" required><br><br>

    <label>Categoría:</label>
    <input type="text" name="categoria" value="{{ producto.categoria }}" required><br><br>
    
    <label>Fecha de vencimiento:</label>
    <input type="date" name="fecha_vencimiento" value="{{ producto.fecha_vencimiento }}" required><br><br>
    
    <label>Estado:</label>
    <input type="text" name="estado" value="{{ producto.estado }}" required><br><br>
    
    <label>Proveedor:</label>
    <input type="text" name="proveedor" value="{{ producto.proveedor }}" required><br><br>
    
    <label>Fecha de ingreso:</label>
    <input type="date" name="fecha_ingreso" value="{{ producto.fecha_ingreso }}" required><br><br>
    
    <input type="submit" value="Guardar">
</form>
<input type="button" value="Volver" onclick="window.location.href='{{ url_for('index') }}'">
{% endblock %}