<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}Mercado Máximo{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a Mercado Máximo</h1>
    </header>
    <main>
        {% block content %}
        <a href="{{url_for('nuevo')}}">Nuevo producto</a>
        <a href="{{ url_for('lista') }}">Lista de productos</a>
        <a href="{{ url_for('buscar') }}">Buscar producto</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('registro') }}">Registro</a>
        <a href="{{ url_for('perfil') }}">Perfil</a>
        <a href="{{ url_for('carrito') }}">Carrito</a>
        {% endblock %}
    </main>
    <footer>
        <p>Universidad de Investigación y Desarrollo, hecho por Cristian Ramos</p>
    </footer>
</body>
</html>