<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias por visitarnos</title>
</head>
<body>
    <h1>Gracias por visitarnos</h1>
    <p>Has cerrado sesión correctamente</p>
    <a href="{{ url_for('index') }}">Volver</a>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('registro') }}">Registro</a>
    <a href="{{ url_for('perfil') }}">Perfil</a>
    <a href="{{ url_for('carrito') }}">Carrito</a>
    <a href="{{ url_for('lista') }}">Inicio</a>
</body>
</html>