{% extends "base.html" %}

{% block title %}Formulario de ingreso de productos{% endblock %}

{% block content %}
<h2>Ingrese los datos del producto</h2>
<form method="post">
    <label>Nombre del producto:</label>
    <input type="text" name="nombre" placeholder="Ingrese su nombre" required><br><br>
    
    <label>Precio del producto:</label>
    <input type="number" name="precio" placeholder="Ingrese el precio del producto" required><br><br>

    <label>Cantidad del producto:</label>
    <input type="number" name="cantidad" placeholder="Ingrese la cantidad del producto" required><br><br>

    <label>Descripción del producto:</label>
    <input type="text" name="descripcion" placeholder="Ingrese la descripción del producto" required><br><br>

    <label>Imagen del producto:</label>
    <input type="file" name="imagen" placeholder="Ingrese la imagen del producto" required><br><br>

    <label>Marca del producto:</label>
    <input type="text" name="marca" placeholder="Ingrese la marca del producto" required><br><br>

    <label>Categoría del producto:</label>
    <input type="text" name="categoria" placeholder="Ingrese la categoría del producto" optional><br><br>

    <label>Fecha de vencimiento del producto:</label>
    <input type="date" name="fecha_vencimiento" placeholder="Ingrese la fecha de vencimiento del producto" optional><br><br>

    <label for="estado">Estado del producto:</label>
    <select name="estado" id="estado" required>
        <option value="" disabled selected>Selecciona una opción</option>
        <option value="nuevo">Nuevo</option>
        <option value="usado">Usado</option>
    </select>
    <br><br>

    <label>Proveedor del producto:</label>
    <input type="text" name="proveedor" placeholder="Ingrese el proveedor del producto" optional><br><br>

    <label>Fecha de ingreso del producto:</label>
    <input type="date" name="fecha_ingreso" placeholder="Ingrese la fecha de ingreso del producto" optional><br><br>    
    
    <input type="submit" value="Enviar">
</form>
<input type="button" value="Volver" onclick="window.location.href='{{ url_for('index') }}'">
{% endblock %}